certifi==2025.1.31
charset-normalizer==3.4.1
Deprecated==1.2.18
idna==3.10
img2pdf==0.5.1
lxml==5.3.0
packaging==24.2
pikepdf==9.2.1
pillow==10.4.0
requests==2.32.3
urllib3==2.2.3
wrapt==1.17.2
PySide6>=6.5.1
psutil>=5.9.5
python-slugify>=1.2.1
raven>=6.0.0
mozjpeg-lossless-optimization>=1.1.2
natsort>=8.4.0
distro>=1.8.0
numpy>=1.22.4,<2.0.0
